body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
}

.game-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid #00796b;
    background-color: #9db87f;
    overflow: hidden;
}

.basket {
    position: absolute;
    bottom: 10px;
    width: 80px;
    height: 40px;
    background-color: #fff314;
    border-radius: 10px;
}

.apple {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #d32f2f;
    border-radius: 50%;
}
h1 {
    font-size: x-large;
    color: #9a6b14;
}